[Unit]
Description=Homelab Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=YOUR_USERNAME
WorkingDirectory=/home/YOUR_USERNAME/rpi-wol
ExecStart=/home/YOUR_USERNAME/rpi-wol/.venv/bin/python /home/YOUR_USERNAME/rpi-wol/app.py

Environment=PYTHONUNBUFFERED=1

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target